{% extends "base.html" %}

{% block title %}Page Home{% endblock %}


{% block content %}
    <form method="post">
        <form method="post">
            <input required name="client_name" placeholder="Введіть ім'я">
            <input name="client_email" placeholder="Введіть email">
            <textarea name="client_review" placeholder="Напишіть ваш відгук"></textarea>
            <button type="submit" name = "send_email" value = "email"> Підтвердити </button>
        </form>
    </form>

{% endblock %}
