/* body {
    background-image: url('../img/image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */


.img1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 55vw;
    z-index: -1;
}